<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My To Do List</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900; 1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="app">
        <header class="header">
            <h1>My Tasks</h1>

            <span>Hello, {{ username }}!</span>

            <form action="/logout" method="POST">
                <button class="logout-btn">Logout</button>
            </form>
            <a href="/export/pdf" class="export-btn">Export PDF</a>
        </header>
        <form method="POST" action="/add" id="task-form" class="task-form">
            <input
                type="text"
                name="title"
                id="task-input"
                placeholder="Add a new task"
                required
            />
            <button type="submit">Add</button>
        </form>

        <ul id="task-list" class="task-list">

            {% for task in tasks %}

            <li class="task-item">
                <form method="POST" action="/update/{{ task[0] }}">
                    <label>
                    
                        <input
                            type="checkbox"
                            onchange="this.form.submit()"
                            {% if task[2] %}checked{% endif %}/>
                        <span>{{ task[1] }}</span>

                    </label>
                </form>
                
                <form method="POST" action="/delete/{{ task[0] }}">
                    <button class="delete-btn">X</button>
                </form>
                
            </li>

            {% endfor %}

        </ul>

        <script src="{{url_for('static', filename='js/main.js')}}"></script>

    </div>
</body>
</html>